[multi]
# Only put one name here
# There's only support for configuring one domain name at a time
subdomain.example.com

# Please do not change this section
[local]
localhost ansible_connection=local ansible_python_interpreter=python
